<img src="/../../assets/virtusa.png" height="50px" width="200px" />
<nav class="navbar navbar-default">
  <span> <a routerLink="">Home</a></span>
  <span class="right"><a routerLink="/signupAdmin">Signup for Admin </a></span>
  <span class="right"><a routerLink="/signupInterviewer">Signup for Interviewer </a></span>
  <span class="right"><a routerLink="/login">Login</a></span>
</nav>
<br><br>
<div class="container">
  <strong>
      <p>
        Having trouble in managing interviews??
      
                Welcome to iSlot, an internal application to manage all the interviews and its related issues within virtusa. Register 
                in iSlot to,               
                 have a hassle free interview management
                 increase your reps within the organization
                 hav a smooth hiring process
                  
      
    </strong>



</div>
<strong>
        <p class="footer">
                © 2018 virtusa, Inc
        </p>
            </strong>

<!-- <ul class="nav nav-pills">
    <li ><a href="#"> Home</a></li>
    <li class="right" ><a href="#">Login</a></li>
    <li class="right"><a href="#">Signup</a></li>

</ul>  -->