
<img src="/../../assets/virtusa.png" height="50px" width="200px"/>
<nav class="navbar navbar-default">
    <span>Home</span>
    <span class="right">Signup</span>
    <span class="right">Login</span>
</nav>
<br><br>
<div class="container">
    <strong>
        <p>
                The mouseover event occurs when the mouse pointer is over the selected element.
                
                The mouseover() method triggers the mouseover event, or attaches a function to run when a mouseover event occurs.
                
                Note: Unlike the mouseenter event, the mouseover event triggers if a mouse pointer enters any child elements as well as the selected element. The mouseenter event is only triggered when the mouse pointer enters the selected element. See the example at the end of the page for a demonstration.
                
                Tip: This event is often used together with the mouseout event.
        </p>
    </strong>
    


</div>
<strong>
        <p class="footer">
                © 2018 virtusa, Inc
        </p>
            </strong>

<!-- <ul class="nav nav-pills">
    <li ><a href="#"> Home</a></li>
    <li class="right" ><a href="#">Login</a></li>
    <li class="right"><a href="#">Signup</a></li>

</ul>  -->